@model HomeViewModel
@{
    ViewData["Title"] = "an AOE2 Community";
    ViewData["Description"] = "Age of Queens is a community and a safe space for women who play Age of Empires to cultivate an environment that connects women to other women and encourage more to pick up the game.";
    ViewData["OgDescription"] = "Age of Queens is a community for women who play Age of Empires II. Primarily we are a community united on our Discord server and periodically host events including a variety of tournaments and show matches for all skill levels.";
    ViewData["OgImage"]="https://age-of-queens.com/images/og/age_of_queens_banner.png";
    ViewData["OgUrl"] = "https://age-of-queens.com";
}
<div class="row">
    <div class="col-9">
        <section>
            <h1>News</h1>
            @if (Model.BlogpostList.Count > 0)
            {
                foreach (HomeViewModel.Blogpost item in Model.BlogpostList)
                {
                <article data-aos="fade-right" class="shadow" id="blogpost">
                    <h2 class="border-bottom">@item.Title</h2>
                    <p>@Html.Raw(item.Content)</p>
                    @if (!String.IsNullOrEmpty(item.ImageName))
                    {
                        <img src="/images/blog/@item.ImageName" />
                    }
                    <p>@item.Created.ToString("yyyy-MM-dd") by @item.Author</p>
                </article>
                }
            }
            else 
            {
                <div class="alert alert-warning" role="alert">Error while loading the content.</div>
            }
        </section>
    </div>
    <div class="col-3">
        <section>
            <div class="widget">
                <a class="twitter-timeline" data-theme="dark" data-width="500" data-height="500" data-chrome="transparent" href="https://twitter.com/AgeofQueens_aoe?ref_src=twsrc%5Etfw">Tweets by AgeofQueens_aoe</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="card">
                <img src="./images/queensclash.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <H2 class="card-title">Past Events</H2>
                    <p class="card-text">Watch our last events</p>
                    <a href="https://age-of-queens.com/AboutUs/PastEvents" class="btn btn-primary">Click</a>
                </div>
            </div>
            <div class="card">
                <img src="./images/discord.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <H2 class="card-title">Want to join?</H2>
                    <p class="card-text">Join our Age of Queens Discord today!</p>
                    <a href="https://age-of-queens.com/AboutUs/WhatIsAgeofqueens" class="btn btn-primary">Click</a>
                </div>
            </div>
            <div class="card">
                <img src="./images/twitch.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <H2 class="card-title">We have a Twitch Team!</H2>
                    <p class="card-text">Explore all members</p>
                    <a href="https://age-of-queens.com/Twitch" class="btn btn-primary">Click</a>
                </div>
            </div>
            <div class="card">
                <img src="./images/paypal.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <H2 class="card-title">Support us!</H2>
                    <p class="card-text">Every donation will go to the next prize pool</p>
                    <a href="https://www.paypal.com/paypalme/ageofqueens" class="btn btn-primary">Donate</a>
                </div>
            </div>
        </section>
    </div>
</div>