@model ageofqueenscom.Models.ActiveEventViewModel

@{
    ViewData["Title"] = "Active Event";
}

<div>
    <h1>Model.Title</h1>
    <h2>Model.Description</h2>
    <h3>Model.RegistrationLink</h3>
</div>

<div>
    @foreach (ageofqueenscom.Code.ActiveEventGameModel item in Model.ActiveGameEventGameList)
    {
        <span>item.Date</span>
        <span>item.Team1</span>
        <span>item.Team2</span>
        <span>item.Team3</span>
        <span>item.Team4</span>
        <span>item.Team5</span>
        <span>item.Team6</span>
        <span>item.Team7</span>
        <span>item.Team8</span>
        <span>item.Maps</span>
        <span>item.Mode</span>
        <span>item.GameCount</span>
        <span>item.Information</span>
    }
</div>
