@{
    ViewData["Title"] = "Past Events";
}

<div id="past-events-container" class="container">
    <div class="accordion">
        <div class="card">
            <div class="card-header past-event-header" style="background-image: url(/Images/queensclashbanner.png)">
                <button class="btn big-button-font" type="button" data-toggle="collapse" data-target="#collapseQueensClash">
                    Queen's Clash
                </button>
            </div>
            <div id="collapseQueensClash" class="collapse hidden">
                <div class="card-body">
                    <div class="past-event-container">
                        <h3>Gold League</h3>
                        <ul class="medals-list">
                            <li><h5>🥇 Gabi $1,000</h5></li>
                            <li><h5>🥈 Lavie Head $750</h5></li>
                            <li><h5>🥉 Ofelia $500</h5></li>
                        </ul>
                        <iframe class="challonge-widget" src="https://challonge.com/de/QueensClashGold/module?scale_to_fit=1" width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
                        <h3>Silver League</h3>
                        <ul class="medals-list">
                            <li><h5>🥇 Kaaaai_ $350</h5></li>
                            <li><h5>🥈 Tileä $250</h5></li>
                            <li><h5>🥉 Flor_13 $100</h5></li>
                        </ul>
                        <iframe class="challonge-widget" src="https://challonge.com/de/QueensClashSilver/module?scale_to_fit=1" width="100%" height="500" frameborder="0" scrolling="true" allowtransparency="true"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion">
        <div class="card">
            <div class="card-header past-event-header" style="background-image: url(/Images/1v1secondeditionbanner.png)">
                <button class="btn big-button-font" type="button" data-toggle="collapse" data-target="#collapseLeague2021">
                    Age of Queens 1v1 Second Edition
                </button>
            </div>
            <div id="collapseLeague2021" class="collapse hidden">
                <div class="card-body">
                    <div class="past-event-container">
                        <h3>League 1</h3>
                        <ul class="medals-list">
                            <li><h5>🥇 [RUS-F]the_queen 50€</h5></li>
                            <li><h5>🥈 Gabi 30€</h5></li>
                            <li><h5>🥉 Julinse 20€</h5></li>
                        </ul>

                        <iframe class="challonge-widget" src="https://challonge.com/de/AgeofQueens1v1L12021/module?scale_to_fit=1" width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
                        <h3>League 2</h3>
                        <ul class="medals-list">
                            <li><h5>🥇 CharChar 25€</h5></li>
                            <li><h5>🥈 apach2421 15€</h5></li>
                            <li><h5>🥉 neyswife 10€</h5></li>
                        </ul>
                        <iframe class="challonge-widget" src="https://challonge.com/de/AgeofQueens1v1L22021/module?scale_to_fit=1" width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion">
        <div class="card">
            <div class="card-header past-event-header" style="background-image: url(/Images/1v1firsteditionbanner.png)">
                <button class="btn big-button-font" type="button" data-toggle="collapse" data-target="#collapseFirstEdition">
                    Age of Queens 1v1 First Edition
                </button>
            </div>
            <div id="collapseFirstEdition" class="collapse hidden">
                <div class="card-body">
                    <div class="past-event-container">
                        <h3>League 1</h3>
                        <ul class="medals-list">
                            <li><h5>🥇 OfeliaAoE $50 Steam Gift Card</h5></li>
                            <li><h5>🥈 Qwin</h5></li>
                            <li><h5>🥉 sunsetflyer</h5></li>
                        </ul>
                        <iframe class="challonge-widget" src="https://challonge.com/de/AgeofQueens1v1L1/module?scale_to_fit=1" width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
                        <h3>League 2</h3>
                        <ul class="medals-list">
                            <li><h5>🥇 Redphoenix $20 Steam Gift Card</h5></li>
                            <li><h5>🥈 [S1N]Joules</h5></li>
                            <li><h5>🥉 erin_msr</h5></li>
                        </ul>
                        <iframe class="challonge-widget" src="https://challonge.com/de/AgeofQueens1v1L2/module?scale_to_fit=1" width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
