@{
    ViewData["Title"] = "What is Age of Queens?";
}
<div style="text-align:center">
    <iframe id="youtube-widget" width="800" height="450" src="https://www.youtube.com/embed/NYaasI9sbJM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<h1 style="text-align:center">What is Age of Queens?</h1>
<article style="text-align:center">
    <p style="font-size: 1.2em">
        Age of Queens is a community for women who play Age of Empires II. Primarily we are a community united on our Discord server and periodically host events including a variety of tournaments and show matches for all skill levels. We ultimately want to cultivate an environment that connects women players to other women and encourage more to pick up the game. Since female players are a minority in gaming in general and many players often don’t know other women play AoE2, we also want to provide more awareness for this demographic.  Our Discord server offers a secure environment for women only to have a platform to find games, build teams, participate in events, exchange experiences, and make friendships. We also have an in-game clan, AoQc,  a Twitch Team to support female AoE2 streamers, and you can find players online every day.
    </p>
</article>
<div data-aos="fade-right" style="margin-top: 6em">
    <div class="row">
        <div class="col-md-6" style="text-align:center">
            <h2>Age of Queens Server</h2>
            <img src="/Images/discord.png" style="border-radius: 20px; max-width: 100%; margin-top: 1em;" />
            <ul style="text-align:left; margin-top: 0.5em">
                <li>Only women and nonbinary people</li>
                <li>To request access message either Tiny Triss#1563, Yekky#2186, Eleda au Venatus#0554, LilTrouble#3881 or ashleylynn#4783 on Discord.</li>
            </ul>
        </div>
        <div class="col-md-6" style="text-align:center">
            <h2>AoQc and Friends Server</h2>
            <img src="/Images/discord_2.png" style="border-radius:20px;max-width:100%; margin-top: 1em;" />
            <ul style="text-align:left; margin-top: 0.5em">
                <li>For everyone</li>
                <li><a href="https://discord.gg/x6vNkQkF7h">Click to join</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row" style="align-items: flex-start;">
    <div class="card side-card">
        <img src="/Images/paypal.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <H2 class="card-title">Support us!</H2>
            <p class="card-text">Every donation will go to the next prize pool</p>
            <a href="https://www.paypal.com/paypalme/ageofqueens" class="btn btn-primary">Donate</a>
        </div>
    </div>
    <div class="card side-card">
        <img src="/Images/Age_of_Queens_logo.png" class="card-img-top" alt="...">
        <div class="card-body">
            <H2 class="card-title">Age of Queens Clan</H2>
            <p class="card-text">Watch our clan on Liquipedia</p>
            <a href="https://liquipedia.net/ageofempires/Age_of_Queens_(team)" class="btn btn-primary">Click</a>
        </div>
    </div>
    <div class="card side-card">
        <img src="/Images/leaderboard_rm_demo.png" class="card-img-top" alt="...">
        <div class="card-body">
            <H2 class="card-title">Leaderboard RM</H2>
            <p class="card-text">We have a leaderboard!</p>
            <a href="https://age-of-queens.com/Leaderboard" class="btn btn-primary">Click</a>
        </div>
    </div>
</div>

@section scripts {

    <script>

        AOS.init();

    </script>

}